* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

body {
    font-size: 18px;
    line-height: 1.6;
    margin: 0;
    height: auto;
    width: 100%;
    min-height: 99vh;
    background: linear-gradient(45deg, #49a09d, #5f2c82);
    background-repeat: no-repeat;
}


.header, form, .content, table {
    width: 70%;
    margin: 10px auto;
    padding: 30px;
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.header {
    background-color: #2C3E50;
    color: #ffffff;
    border: none;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

.input-group input {
    width: 100%;
    padding: 15px 20px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    font-size: 16px;
}

.btn {
    padding: 15px 20px;
    background-color: #2C3E50;
    border: none;
    cursor: pointer;
    color: white;
    width: 100%;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
}

.smallbtn {
    padding: 20px 5px;
    background-color: #2C3E50;
    border: none;
    cursor: pointer;
    color: white;
    width: 100%;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}

.smallbtn:hover {
    background-color: #34495e;
}

.btn:hover {
    background-color: #34495e;
}

.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    padding: 15px;
}

.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    padding: 15px;
}

.header {
    width: 70%;
    padding: 20px 0;
    background-color: #2C3E50;
    color: #ffffff;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.header a {
    color: #ffffff;
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.header a:hover {
    color: #49a09d;
}

.events {
    margin: 0% 0% 0% 15%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.event {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    background-color: #f9f9f9;
}

.event h2 {
    margin-top: 0;
}

.event p {
    margin-bottom: 0;
}

.addcart {
    width: 70%;
    box-shadow: none;
    margin: auto;
    padding: 5px;
    background: #f9f9f9;
    box-shadow: none;
    border-radius: 0px;
}